body{
    margin: 0;
    background: black;
    font-size: 0.97em;
    max-width: 100;
}
.logo{
    margin-left: 530px;
}
.menu, .menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu{
    width: 900px;
    margin: 50px auto;
    background-color: whitesmoke;
    border-radius: 3px;
}
.menu:before,
.menu:after{
    content: '';
    display: table;
}
.menu:after{
    clear: both;
}
.menu li{
    float: left;
    box-shadow: 1px 0 0 #444;
    position: relative;
}
.menu a{
    float: left;
    padding: 12px 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.menu li:hover > a{
    color: #fff;
    background: #262626;
}
.menu ul{
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 1;
    background: #262626;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.menu li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.menu ul ul{
    top: 0;
    left: 150px;
    margin: 0 0 0 20px; 
}
.menu ul li{
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 grey, 0 2px 0 #666;
}
.menu ul li:last-child{
    box-shadow: none;
}
.menu ul a{
    padding: 10px;
    width: 130px;
    display: inline-block;
    white-space: nowrap;
    float: none;
    text-transform: uppercase;
}
.news-portal{
    width: 100%;
    line-height: 30px;
    margin: 10px;
}
.news-portal figure{
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    margin: 40px;
}
.news-portal figure a{
    color: floralwhite;
    font-size: 20px;
    text-decoration: none;
    font-variant: normal;
    font-weight: 400;
    padding: 1px;
}
.news-portal figure a img:hover{
    transition: ease-out;
}
.news-portal h1{
    color: floralwhite;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.news-portal figcaption:hover{
    color: #444;
    transition: ease-in-out;
}
